.signIn {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 30px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  margin: 200px auto auto auto;

  h1 {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    line-height: 140%;
  }

  .signIn__form {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;

    .inputIcon {
      margin: 0 10px 0 20px;

      img {
        width: max-content;
        height: 25px;
        user-select: none;
      }
    }

    .hidePasswordIcon {
      position: absolute;
      right: 18.75px;

      img {
        width: max-content;
        height: 12px;
        user-select: none;
        cursor: pointer;
      }
    }

    .error {
      p {
        font-weight: 400;
        font-size: 15px;
        text-transform: uppercase;
        color: #f11515;
        margin: 0;
      }
    }

    .enter {
      height: 50px;
      background: #000000;
      color: #ffffff;
    }
  }
}

@media (max-width: 500px) {
  .signIn {
    border: none;
    margin: 100px auto;
  }
}
