.registration {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  padding: 30px;
  margin: 200px auto auto auto;

  h1 {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    line-height: 140%;
  }

  .registration__form {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;

    .inputIcon {
      margin: 0 10px 0 20px;

      img {
        width: max-content;
        height: 25px;
        user-select: none;
      }
    }

    .hidePasswordIcon {
      position: absolute;
      right: 18.75px;

      img {
        width: max-content;
        height: 12px;
        user-select: none;
        cursor: pointer;
      }
    }

    .error {
      p {
        font-weight: 400;
        font-size: 15px;
        text-transform: uppercase;
        color: #f11515;
        margin: 0;
      }
    }

    .enter {
      height: 50px;
      background: #000000;
      transition: 0.4s !important;
      color: #ffffff;
    }

    .disabled {
      height: 50px !important;
      background: #d5d5d5 !important;
      border-radius: 5px !important;
      box-shadow: 0px 5px 10px 1px rgba(34, 60, 80, 0.15) inset;
      transition: 0.4s !important;
      cursor: default;
      font-family: "Inter", sans-serif !important;
      font-style: normal !important;
      font-weight: 500 !important;
      font-size: 16px !important;
      line-height: 160% !important;
      color: #f3f3f3 !important;
    } 
  }
}

@media (max-width: 500px) {
  .registration {
    border: none;
    margin: 100px auto;
  }
}
