.container {
  width: 100%;
  background: #ffffff;
  position: fixed;
  z-index: 10;
  top: 0;

  .header {
    max-width: 1440px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 29.5px 0 20px;
    box-sizing: border-box;
    margin: 0 auto;

    .header__title {
      width: 350px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      img {
        width: 80px;
        height: 50px;
      }

      span {
        text-align: start;
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #000000;
      }
    }

    .user {
      display: flex;
      align-items: center;
      gap: 20px;
      .user__name {
        text-align: start;
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #000000;
      }

      .user__avatar {
        width: max-content;
        height: 50px;
        border-radius: 50%;
      }
    }

    @media (max-width: 500px) {
      .header__title {
        justify-content: start;

        span {
          display: none;
        }
      }
    }

    a {
      text-decoration: none;
    }
  }
}
